<a href="https://colab.research.google.com/github/knayani16/pds2/blob/main/assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

mydata = pd.read_csv('/content/drive/MyDrive/train.csv')

for column in mydata.columns:
    if mydata[column].dtype == 'object':
        mydata[column].fillna(mydata[column].mode()[0], inplace=True)
    else:
        mydata[column].fillna(mydata[column].mean(), inplace=True)

mydata.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,4.78 Lakh,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,4.78 Lakh,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,4.78 Lakh,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,4.78 Lakh,3.50

In [2]:
print(mydata.columns)

Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       'Seats', 'New_Price', 'Price'],
      dtype='object')

In [3]:

def remove_units(text):
    if isinstance(text, str):
        numerical_values = [word for word in text.split() if word.replace('.', '', 1).isdigit()]
        if numerical_values:
            return " ".join(numerical_values)
    return text

columns_to_clean = ["Mileage", "Engine", "Power", "New_Price"]

for column in columns_to_clean:
    mydata[column] = mydata[column].apply(remove_units)

for column in columns_to_clean:
    mydata[column] = mydata[column].apply(lambda x: x.strip() if isinstance(x, str) else x)

mydata

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582,126.2,5.0,4.78,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13,1199,88.7,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248,88.76,7.0,4.78,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2,1968,140.8,5.0,4.78,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461,63.1,5.0,4.78,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4,1248,74,5.0,7.88,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4,1120,71,5.0,4.78,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0,2498,112,8.0,4.78,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9,998,67.1,5.0,4.78,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936,57.6,5.0,4.78,2.50

In [4]:


categorical_columns = ["Fuel_Type", "Transmission"]

for column in categorical_columns:
    one_hot = pd.get_dummies(mydata[column], prefix=column)
    mydata = pd.concat([mydata, one_hot], axis=1)
    mydata.drop(column, axis=1, inplace=True)

mydata = mydata.loc[:, ~mydata.columns.duplicated()]

mydata

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582,126.2,5.0,4.78,12.50,1,0,0,0,1
1,2,Honda Jazz V,Chennai,2011,46000,First,13,1199,88.7,5.0,8.61,4.50,0,0,1,0,1
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248,88.76,7.0,4.78,6.00,1,0,0,0,1
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.2,1968,140.8,5.0,4.78,17.74,1,0,0,1,0
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461,63.1,5.0,4.78,3.50,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.4,1248,74,5.0,7.88,4.75,1,0,0,0,1
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.4,1120,71,5.0,4.78,4.00,1,0,0,0,1
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.0,2498,112,8.0,4.78,2.90,1,0,0,0,1
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.9,998,67.1,5.0,4.78,2.65,0,0,1,0,1
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936,57.6,5.0,4.78,2.50,1,0,0,0,1

In [5]:

from datetime import datetime

present_year = datetime.now().year

mydata['Current_Age'] = present_year - mydata['Year']

mydata

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Current_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582,126.2,5.0,4.78,12.50,1,0,0,0,1,8
1,2,Honda Jazz V,Chennai,2011,46000,First,13,1199,88.7,5.0,8.61,4.50,0,0,1,0,1,12
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248,88.76,7.0,4.78,6.00,1,0,0,0,1,11
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.2,1968,140.8,5.0,4.78,17.74,1,0,0,1,0,10
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461,63.1,5.0,4.78,3.50,1,0,0,0,1,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.4,1248,74,5.0,7.88,4.75,1,0,0,0,1,9
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.4,1120,71,5.0,4.78,4.00,1,0,0,0,1,8
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.0,2498,112,8.0,4.78,2.90,1,0,0,0,1,11
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.9,998,67.1,5.0,4.78,2.65,0,0,1,0,1,10
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936,57.6,5.0,4.78,2.50,1,0,0,0,1,12